# API
VITE_API_BASEPATH=http://localhost:3000

# Clerk auth
VITE_CLERK_PUBLISHABLE_KEY=
VITE_CLERK_SIGN_IN_URL=/signin
VITE_CLERK_SIGN_UP_URL=/signup
VITE_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/dashboard
VITE_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/dashboard

# Cloudinary
VITE_CLOUDINARY_BASE_URL=
VITE_CLOUDINARY_ASSETS_URL=

# Razorpay
VITE_RAZORPAY_KEY_ID=
VITE_RAZORPAY_PLAN_ID=

# TelemetryDeck analytics
VITE_TELEMETRYDECK_APP_ID=
VITE_TELEMETRYDECK_DEBUG=false
